# Activity 11

1. Connect to petsDB and check whether the connection has been successful.

In [1]:
import sqlite3

In [12]:
def check_connection(file):
    try:
        print('Connection successful!')
    except Exception as ex:
        print('Connection failed!')

In [13]:
petsdb = sqlite3.connect("petsdb")

check_connection(petsdb)

Connection successful!

2. Find the different age groups in the persons database.

In [16]:
c = petsdb.cursor()

for people, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print(people, "people", "age:", age)

2 people age: 5
1 people age: 6
1 people age: 7
3 people age: 8
1 people age: 9
2 people age: 11
3 people age: 12
1 people age: 13
4 people age: 14
2 people age: 16
2 people age: 17
3 people age: 18
1 people age: 19
3 people age: 22
2 people age: 23
3 people age: 24
2 people age: 25
1 people age: 27
1 people age: 30
3 people age: 31
1 people age: 32
1 people age: 33
2 people age: 34
3 people age: 35
3 people age: 36
1 people age: 37
2 people age: 39
1 people age: 40
1 people age: 42
2 people age: 44
2 people age: 48
1 people age: 49
1 people age: 50
2 people age: 51
2 people age: 52
2 people age: 53
2 people age: 54
1 people age: 58
1 people age: 59
1 people age: 60
1 people age: 61
2 people age: 62
1 people age: 63
2 people age: 65
2 people age: 66
1 people age: 67
3 people age: 68
1 people age: 69
1 people age: 70
4 people age: 71
1 people age: 72
5 people age: 73
3 people age: 74

3. Find the age group that has the maximum number of people.

In [17]:
for people, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print(people, "people", "age:", age)

5 people age: 73
4 people age: 71
4 people age: 14
3 people age: 74
3 people age: 68
3 people age: 36
3 people age: 35
3 people age: 31
3 people age: 24
3 people age: 22
3 people age: 18
3 people age: 12
3 people age: 8
2 people age: 66
2 people age: 65
2 people age: 62
2 people age: 54
2 people age: 53
2 people age: 52
2 people age: 51
2 people age: 48
2 people age: 44
2 people age: 39
2 people age: 34
2 people age: 25
2 people age: 23
2 people age: 17
2 people age: 16
2 people age: 11
2 people age: 5
1 people age: 72
1 people age: 70
1 people age: 69
1 people age: 67
1 people age: 63
1 people age: 61
1 people age: 60
1 people age: 59
1 people age: 58
1 people age: 50
1 people age: 49
1 people age: 42
1 people age: 40
1 people age: 37
1 people age: 33
1 people age: 32
1 people age: 30
1 people age: 27
1 people age: 19
1 people age: 13
1 people age: 9
1 people age: 7
1 people age: 6

The 73 year old group is the biggest group with 5 people

4. Find the people who do not have a last name.

In [19]:
for name in c.execute("SELECT first_name FROM persons WHERE last_name IS null"):
    print('f_name:', name[0])

f_name: Erica
f_name: Jordi
f_name: Chasity
f_name: Gregg
f_name: Cary
f_name: Francisca
f_name: Raleigh
f_name: Maria
f_name: Mariane
f_name: Mona
f_name: Kayla
f_name: Karlie
f_name: Morris
f_name: Sandy
f_name: Hector
f_name: Hiram
f_name: Tressa
f_name: Berry
f_name: Pearline
f_name: Maynard
f_name: Dorian
f_name: Mylene
f_name: Lafayette
f_name: Tara
f_name: Destiny
f_name: Lesly
f_name: Perry
f_name: Maritza
f_name: Grant
f_name: Laury
f_name: Name
f_name: Estefania
f_name: Destiney
f_name: Jaquelin
f_name: Alfonzo
f_name: Lisandro
f_name: Priscilla
f_name: Elenora
f_name: Rudolph
f_name: Ona
f_name: Rebeca
f_name: Sigurd
f_name: Alice
f_name: Dane
f_name: Judge
f_name: Allene
f_name: Jalen
f_name: Myron
f_name: Travon
f_name: Shayna
f_name: Myah
f_name: Letha
f_name: Felton
f_name: London
f_name: Koby
f_name: Golden
f_name: Anissa
f_name: Sid
f_name: Ernesto
f_name: Josianne

5. Find out how many people have more than one pet.

In [20]:
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id)>1)")

for row in res:
    print(row[0], 'people have more than one pet')

43 people have more than one pet

6. Find out how many pets have received treatment.

In [31]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done = 1")

for row in res:
    print(row[0], 'pets have received treatment.')

36 pets have received treatment.

7. Find out how many pets have received treatment and the type of pet is known.

In [30]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")

for row in res:
    print(row[0], 'pets')

16 pets

8. Find out how many pets are from the city called east port.

In [29]:
res = c.execute("SELECT count(*) FROM pets JOIN persons on pets.owner_id = persons.id WHERE persons.city='east port'")

for row in res:
    print(row[0], 'pets are from east eort.')

49 pets are from east eort.

9. Find out how many pets are from the city called east port and who received a
treatment.

In [28]:
res = c.execute("SELECT count(*) FROM pets JOIN persons on pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")

for row in res:
    print(row[0], 'pets from east port received treatment.')

11 pets from east port received treatment.